{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="cid-rCNSB6tGua mbr-fullscreen mbr-parallax-background" id="header2-b">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <br>
                <br>
               <!-- <video id="remote-video" autoplay="" width="640" height="480"> -->
                <video id="remote-video" autoplay="">
                    Your browser does not support the video tag.
                </video>
                <div class="mbr-section-btn">
                <a id='start' onclick="start();" class="btn btn-md btn-secondary display-4">Connect</a>
                <a hidden=true id='stop' onclick="stop();" class="btn btn-md btn-primary display-4">Disconnect</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span style="display:none">Remote Peer/Signalling Server Address:</span><input style="display:none" required type="text" id="signalling_server" value="192.168.178.101:8090" title="<host>:<port>, default address is autodetected"/><br>
        <span style="display:none">Optional ICE Servers (STUN/TURN): </span><input style="display:none" type="text" id="ice_servers" value="" title="array of RTCIceServer objects as valid JSON string"/><br>
        <span style="display:none">Trickle ICE: </span>
        <select style="display:none" onclick="trickleice_selection();" id="trickleice" name="trickleice" title="enable trickle ice">
            <option value="auto">auto</option>
            <option value="true" selected="selected">true</option>
            <option value="false">false</option>
        </select>
    </div>
</section>


{% endblock %}